.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: var(--gray-dark-medium-opacity);
}

.modal_content {
    padding: 40px;
    border-radius: 8px;
    min-width: 350px;
    background: var(--white);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}