.navbar{
    width:100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar_content{
    width:100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar_label a{
    text-decoration: none;
    font-size: 24px;
    color: var(--brown);
    font-weight: 600;
    line-height: 32px;
}

.navbar_user a{
    text-decoration: none;
    font-size: 20px;
    color: var(--brown);
    font-weight: 500;
    line-height: 24px;
}

.navbar_links_block{
    display: flex;
}

.navbar_links_block .navbar_links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.navbar_links a{
    text-decoration: none;
    color: var(--brown);
    font-weight: 500;
    font-size: 18px;
}

.navbar_links a:after{
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--red);
    transition: width 0.4s ease-in-out;
}

.navbar_links a:hover:after,
.navbar_links a:focus:after {
    width: 100%;
}

.navbar_user_icon{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 21C5 17.134 8.13401 14 12 14C15.866 14 19 17.134 19 21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.navbar_user_icon a{
    position: absolute;
    width: 32px;
    height: 32px;
}

@media  (max-width: 1100px) {
    .navbar_content{
        margin-right: 20px;
        margin-left: 20px;
    }
}